<head>
    <link rel="stylesheet" href="about.component.scss">
</head>
<div>
    <p class="about">
        About Braindcode Solution
    </p>
</div>
<div class="content">
    <img class="img" src="img/Artboard.jpg" alt="Braincode" style="width: 650px; height: 400px;">
    <p class="text1">BrainCode is Indonesian's leading specialist in developing mobile services. BrainCode is an innovative and technically competent wireless content provider. Connected to major Telco operators in Indonesia, Braincode Systems manages millions of SMS
        and provides mobile solutions for B2B and B2C. In response to the ever increasing demand for computerization and the growth of information technology, Braincode is making the transition from content information technology solution providers.We
        have more than 25 IT professionals that have a lot of experience in mobile industries to provide added value, developed many mobile applications for our client within Indonesia and other countries, also focus on helping company for information
        services.
        <br>
        <br> BrainCode was founded 2004 to provide Information Technology and Mobile Solutions with offices in Jakarta. Our expertise is the result of years of experience managing and developing mobile solution using the latest technologies in the mobile
        industries. With our technology, experienced IT team, and our experience in every Project that we deliver, we will continue to provide IT Development and Solution services at every level of the corporation and government.
    </p>
    <img class="img" src="img/braincodeteam.jpg" alt="Braincode" style="width: 650px; height: 450px; padding-top: 20px; ">
    <h1 class="title">VISION</h1>
    <p class="text2">
        Become an IT Company that be able to compete in Telco and Other Industries, with the updated IT Implementation also developing human resources who are experts in IT development
    </p>
    <h1 class="title">MISSION</h1>
    <ul class="text2">
        <li>Providing user centric services, with the best solution for compliance the User Needs</li>
        <li>Increase the effectiveness and efficiency of companies that use our IT services.</li>
        <li>Using reliable technology with affordable cost</li>
        <li>Improve capabilities and optimize management of superior and competitive human resources</li>
        <li>Build strategic partnerships and synergizing with clients and partners with the principle of mutual benefit.</li>
    </ul>
</div> 
