@import '../../../styles-variables';
.about {
    width: 100%;
    height: 48px;
    text-align: center;
    margin-top: 135px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 56px;
    color: #5F5F5F;
}

.content {
    width: 94%;
    height: 2000px;
    margin-left: 3%;
    margin-top: 100px;
    background: #ffffff;
    font-size: 17px;
    /* box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.25); */
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.text1 {
    width: 80%;
    margin-left: 10%;
    line-height: 2;
    text-indent: 45px;
}

.img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.title {
    width: 80%;
    margin-left: 10%;
    font-weight: 500;
}

.text2 {
    width: 80%;
    margin-left: 10%;
    line-height: 2;
    text-indent: 35px;
}
